
.overlay { 
    position:absolute;
    right: 0;
    display:none;
    background:#fff; 
}

.overlay .img-load { 
    position:absolute;
    z-index: 12;
}

body{
    background-image:url('../img/bg.png');
    background-repeat:repeat;
}

.container{
    min-height: 500px;
    background-color: white;
    height: 100%;
    margin-top: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}